// Size
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 144%;

$desktopWidth: 1320px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 380px;

// Main color
$brand-black: #2a2e3b;
$brand-primary: #0078dc;
$brand-gray: #59677e;
$brand-white: #ffffff;

// Font
$mainFont: "DINPro";
$mainFontColor: $brand-black;

@mixin pruning($c) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: $c;
  -webkit-box-orient: vertical;
  line-clamp: $c;
  box-orient: vertical;
}
