// тк мы к ним обращаемся везде ниже
@import "fonts.scss";
@import "utils/reset";
@import "utils/vars";
@import "vendors/vendors";

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     not supported by any browser */
}

$index: calc(1vw + 1vh);

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

// *::selection {
//   background: #fff;
//   color: #000;
// }

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: $desktopWidth;
  margin: 0 auto;
  padding: 0 20px;
  &._small {
    max-width: 960px;
  }

  @media screen and (max-width: $smPhoneWidth) {
    padding: 0 10px;
  }
}

@import "./common.scss";

.article-page__first-screen {
  position: relative;
}

.article-page {
  p {
    font-size: 22px;
    line-height: 160%;
  }
  ol:not([class]) {
    padding-left: 0;
    margin: 60px 0;
    counter-reset: myCounter;
    li {
      list-style: none;
      display: flex;
      align-items: flex-start;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      &:before {
        counter-increment: myCounter;
        content: counter(myCounter) ".";
        display: inline-block;
        font-weight: 500;
        margin-right: 23px;
        font-size: 20px;
        line-height: 130%;
        color: #0078dc;
        @media (max-width: 412px) {
          margin-right: 20px;
        }
      }
    }
  }
  ul:not([class]) {
    padding-left: 0;
    margin: 60px 0;
    li {
      list-style: none;
      position: relative;
      display: flex;
      align-items: flex-start;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      &:before {
        flex-shrink: 0;
        margin-right: 30px;
        margin-top: 9px;
        content: "";
        display: block;
        background-color: #0078dc;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        @media (max-width: 412px) {
          margin-right: 20px;
        }
      }
    }
  }
}

.site-pagination__wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.site-pagination {
  width: fit-content;
  background: rgba(41, 82, 122, 0.7);
  backdrop-filter: blur(23px);
  -webkit-backdrop-filter: blur(23px);
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px !important;
  padding-bottom: 0 !important;

  .site-pagination__item {
    margin-bottom: 10px;
    a {
      color: #fff;
      font-weight: 500;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0.5px;
    }
    position: relative;
    &:not(:last-child) {
      margin-right: 40px;
      &:before {
        position: absolute;
        right: -25px;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        width: 10px;
        height: 10px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.35355 4.35355C9.54882 4.15829 9.54882 3.84171 9.35355 3.64645L6.17157 0.464467C5.97631 0.269204 5.65973 0.269204 5.46447 0.464467C5.2692 0.659729 5.2692 0.976311 5.46447 1.17157L8.29289 4L5.46447 6.82843C5.2692 7.02369 5.2692 7.34027 5.46447 7.53553C5.65973 7.7308 5.97631 7.7308 6.17157 7.53553L9.35355 4.35355ZM-4.37113e-08 4.5L9 4.5L9 3.5L4.37113e-08 3.5L-4.37113e-08 4.5Z' fill='white'/%3e%3c/svg%3e ");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    &:last-child {
      a {
        color: #8cccf7;
      }
    }
  }
}

.article-page__head {
  background: rgba(41, 82, 122, 0.4);
  backdrop-filter: blur(23px);
  -webkit-backdrop-filter: blur(23px);
  border-radius: 0px 0px 0px 60px;
  padding: 30px 40px;
}
.article-page__head-wrapper {
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 100%;
}

.article-page__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 140%;
  color: #fff;
  margin-bottom: 26px;
}

.article-page__date {
  color: #fff;
  font-size: 20px;
}

.article-page__content {
  padding-top: 100px;
}
.article-page__narrow-col {
  max-width: 840px;
  width: 100%;
}
.article-page__fixed-col {
  width: 100%;
  position: relative;
  .article-page__right-content {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 400px;
    width: 100%;
    transform: translateX(110%);
  }
}

.article-page__date-block {
  margin-bottom: 35px;
  padding: 35px 40px;
  background: #e8f5ff;
  border-radius: 0px 0px 0px 60px;
  .date-block__title {
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color: #0078dc;
    margin-bottom: 30px;
  }
  .date-block__descr {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #0078dc;
  }
}

.article-page__image-wrapper {
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 43.8%;
  .article-page__image {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.article-page__image-descr {
  padding: 10px 15px;
  background: #e7f4ff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
}

.primary__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: $brand-primary;
  margin-bottom: 60px;
}

.tooltip-element {
  color: $brand-primary;
  cursor: pointer;
}

.article-page__text-image-block {
  margin: 60px 0;
  display: flex;
  align-items: flex-start;
  p {
    margin: 0;
  }
  .text-image__image {
    width: 291px;
    height: 354px;
    border-radius: 0px 0px 0px 60px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .text-image__image__wrapper {
    position: relative;
    margin-right: 30px;
  }
  .article-page__image-descr {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(41, 82, 122, 0.2);
    backdrop-filter: blur(23px);
    -webkit-backdrop-filter: blur(23px);
  }
}

.article-page__quote {
  margin: 60px 0;
  margin-right: -440px;
  font-weight: 500;
  font-size: 26px;
  line-height: 160%;
  color: #0078dc;
  display: flex;
  &:before {
    margin-right: 38px;
    flex-shrink: 0;
    display: block;
    content: "";
    width: 288px;
    height: 252px;
    background: #e8f5ff;
    border-radius: 0px 0px 0px 60px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='145' height='103' viewBox='0 0 145 103' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M39 0H0V39C0 50.0457 8.95431 59 20 59H32.9903C32.9903 59.6115 32.9733 60.2245 32.939 60.8383C32.4517 69.5742 28.514 77.7588 21.9922 83.5915L39.331 102.979C50.9947 92.5478 58.037 77.9104 58.9085 62.2869C58.9722 61.1442 59.0026 60.003 59 58.8647V20C59 8.95431 50.0457 0 39 0Z' fill='%230078DC'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M125 0H86V39C86 50.0457 94.9543 59 106 59H118.99C118.99 59.6115 118.973 60.2245 118.939 60.8383C118.452 69.5742 114.514 77.7588 107.992 83.5915L125.331 102.979C136.995 92.5478 144.037 77.9104 144.908 62.2869C144.972 61.1442 145.003 60.003 145 58.8647V20C145 8.95431 136.046 0 125 0Z' fill='%230078DC'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: 40px 54px;
    background-size: 145px 103px;
  }
}

.article-page__person {
  margin: 60px 0;
  margin-right: -440px;
  display: flex;
  align-items: flex-start;
  .person__data {
    flex-shrink: 0;
    min-height: 250px;
    width: 288px;
    margin-right: 38px;
    padding: 35px 40px;
    border-radius: 0px 0px 0px 60px;
    background: #e8f5ff;
  }
  .person__text {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 160%;
    color: #0078dc;
  }
  .person__name {
    font-weight: 700;
    font-size: 24px;
    color: #0078dc;
    margin-bottom: 10px;
  }
  .person__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #2a2e3b;
  }
  .person__image {
    margin-bottom: 30px;
    width: 145px;
    height: 145px;
    border-radius: 0px 0px 0px 20px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
.article-page__fixed-col {
  .article-audio {
    margin: 0;
  }
}
.article-audio {
  border-radius: 0px 0px 0px 40px;
  overflow: hidden;
  .timeline {
    background: white;
    width: 100%;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 #0008;
    .progress {
      background: #0078dc;
      width: 0%;
      height: 100%;
      transition: 0.25s;
    }
  }
  .controls {
    .toggle-play {
      width: 100%;
      height: 100%;
      &.play,
      &.pause {
        cursor: pointer;
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: transform 0.2s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
      &.play {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='38' height='40' viewBox='0 0 38 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.8182 10C10.3663 10 10 10.3731 10 10.8333C10 10.8344 10 10.8355 10 10.8366V20V29.1634C10 29.1645 10 29.1656 10 29.1667C10 29.6269 10.3663 30 10.8182 30C10.9885 29.9995 11.1544 29.9449 11.2928 29.8438L11.2944 29.8454L27.5222 20.7568C27.813 20.6213 27.9996 20.3257 28 20C28.0002 19.6648 27.8031 19.3621 27.4998 19.2318L11.2944 10.1546H11.2928C11.1542 10.0541 10.9883 10 10.8182 10V10Z' fill='%230078DC'/%3e%3c/svg%3e ");
      }
      &.pause {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='37' height='38' viewBox='0 0 37 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='12.5' y='10' width='4' height='18' fill='%230078DC'/%3e%3crect x='20.5' y='10' width='4' height='18' fill='%230078DC'/%3e%3c/svg%3e ");
      }
    }

    .volume-container {
      &.mute {
        .volume-button:before {
          opacity: 1;
        }
      }

      width: 30px;
      cursor: pointer;
      .volume-button {
        position: relative;
        &:before {
          opacity: 0;
          transform: rotate(45deg);
          content: "";
          position: absolute;
          left: 8px;
          top: 11px;
          height: 2px;
          width: 20px;
          background-color: red;
        }
        height: 26px;
        display: flex;
        align-items: center;
        .volume {
          transform: scale(0.7);
        }
      }

      position: relative;
      z-index: 2;
      .volume-slider {
        position: absolute;
        left: -3px;
        top: 15px;
        z-index: -1;
        width: 0;
        height: 15px;
        background: white;
        box-shadow: 0 0 20px #000a;
        transition: 0.25s;
        .volume-percentage {
          background: coral;
          height: 100%;
          width: 75%;
        }
      }
      &:hover {
        .volume-slider {
          left: -123px;
          width: 120px;
        }
      }
    }
  }
  margin: 20px 0;
  padding: 40px;
  .article-audio__content {
    max-width: 768px;
    width: 100%;
  }
  .controls {
    padding: 0;
    width: 100%;
  }
  .play-container {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
  .article-audio__name {
    color: #333333;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 13px;
  }
  display: flex;
  box-shadow: none;
  width: 100%;
  background: #e8f5ff;
  .article-audio__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .timeline {
    box-shadow: none;
    height: 5px;
  }
  .controls .volume-container {
    margin-left: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='18' viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.1875 13.1636H16C16.5523 13.1636 17 12.7159 17 12.1636V6.18403C17 5.63175 16.5523 5.18403 16 5.18403H13.2098C12.9692 5.18403 12.7366 5.09729 12.5548 4.93972L9.28758 2.1081C8.64001 1.54687 7.63265 2.00687 7.63265 2.86379V15.2463C7.63265 16.0848 8.60259 16.5509 9.25735 16.0271L12.5628 13.3828C12.7401 13.2409 12.9604 13.1636 13.1875 13.1636Z' fill='%230078DC'/%3e%3cpath d='M6.24426 7.22437C6.24426 6.67209 5.78255 6.20787 5.26573 6.40258C4.89977 6.54046 4.56354 6.75544 4.28168 7.0373C3.76117 7.55781 3.46875 8.26377 3.46875 8.99988C3.46875 9.73599 3.76117 10.442 4.28168 10.9625C4.56354 11.2443 4.89977 11.4593 5.26573 11.5972C5.78255 11.7919 6.24426 11.3277 6.24426 10.7754L6.24426 8.99988L6.24426 7.22437Z' fill='%230078DC'/%3e%3cpath d='M6.2449 3.49406C6.2449 3.08606 5.91298 2.7508 5.50784 2.79895C4.12307 2.9635 2.82516 3.58834 1.82909 4.58441C0.657942 5.75556 -2.20327e-07 7.34397 -2.72973e-07 9.00022C-3.2562e-07 10.6565 0.657942 12.2449 1.82909 13.416C2.82516 14.4121 4.12307 15.0369 5.50784 15.2015C5.91298 15.2496 6.2449 14.9144 6.2449 14.5064C6.2449 14.0984 5.91218 13.7735 5.50908 13.7105C4.51719 13.5556 3.59257 13.0901 2.87382 12.3713C1.97975 11.4772 1.47747 10.2646 1.47747 9.00022C1.47747 7.73582 1.97975 6.5232 2.87382 5.62914C3.59257 4.91039 4.51719 4.44484 5.50908 4.2899C5.91218 4.22693 6.2449 3.90205 6.2449 3.49406Z' fill='%230078DC'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
  }
  .controls .volume-container .volume-slider {
    box-shadow: none;
    top: 50%;
    transform: translateY(-50%);
  }
  .controls .volume-container .volume-slider .volume-percentage {
    background-color: #0078dc;
  }
}

.article-page__slider-wrapper {
  margin-bottom: 20px;
  padding-bottom: 20px;

  position: relative;
  .article-page__slider {
    position: relative;
  }
  .article-page__slide {
    height: 541px;
    border-radius: 0px 0px 0px 60px;
    overflow: hidden;
    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    &.video-slide {
      position: relative;
      &:before {
        content: "";
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='24' viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1.74419e-06C0.447716 1.74419e-06 1.30814e-06 0.447717 1.30814e-06 1C-4.36047e-07 1.0013 -4.36047e-07 1.00261 1.30814e-06 1.00391V12V22.9961C-4.36047e-07 22.9974 -4.36047e-07 22.9987 1.30814e-06 23C1.30814e-06 23.5523 0.447716 24 1 24C1.20816 23.9994 1.41095 23.9339 1.58008 23.8125L1.58203 23.8145L21.416 12.9082C21.7714 12.7456 21.9995 12.3908 22 12C22.0002 11.5977 21.7593 11.2345 21.3887 11.0781L1.58203 0.185547H1.58008C1.41071 0.064889 1.20795 3.13953e-05 1 0V1.74419e-06Z' fill='white'/%3e%3c/svg%3e ");
        background-repeat: no-repeat;
        background-size: 24px;
        background-position: 30px center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .slider-btns {
    position: relative;
    display: flex;
    padding-top: 27px;
    gap: 88px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: static;
    width: 24px;
    height: 24px;
  }
  .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='23' viewBox='0 0 26 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.939341 12.5607C0.353554 11.9749 0.353554 11.0251 0.939341 10.4393L10.4853 0.893398C11.0711 0.307611 12.0208 0.307611 12.6066 0.893398C13.1924 1.47919 13.1924 2.42893 12.6066 3.01472L4.12132 11.5L12.6066 19.9853C13.1924 20.5711 13.1924 21.5208 12.6066 22.1066C12.0208 22.6924 11.0711 22.6924 10.4853 22.1066L0.939341 12.5607ZM26 13H2V10H26V13Z' fill='%230078DC'/%3e%3c/svg%3e ");
  }
  .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='23' viewBox='0 0 26 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M25.0607 12.5607C25.6464 11.9749 25.6464 11.0251 25.0607 10.4393L15.5147 0.893398C14.9289 0.307611 13.9792 0.307611 13.3934 0.893398C12.8076 1.47919 12.8076 2.42893 13.3934 3.01472L21.8787 11.5L13.3934 19.9853C12.8076 20.5711 12.8076 21.5208 13.3934 22.1066C13.9792 22.6924 14.9289 22.6924 15.5147 22.1066L25.0607 12.5607ZM0 13H24V10H0V13Z' fill='%230078DC'/%3e%3c/svg%3e ");
  }
}

.article-page__slider-descr {
  font-size: 14px;
  line-height: 140%;
  color: #333333;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 51px;
  z-index: 3;
  padding: 10px 14px;
  color: #ffffff;
  background: rgba(41, 82, 122, 0.2);
  backdrop-filter: blur(23px);
  -webkit-backdrop-filter: blur(23px);
}

.article-page__slider-item {
  margin: 60px 0;
}
.article-page__model-wraper {
  position: relative;
  margin: 60px 0;
  .model__nameplate {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    left: 25px;
    top: 25px;
    z-index: 2;
  }
}
.article-page__model {
  width: 100%;
  height: 400px;
  background-color: #eeeeee;
}

.article-form,
.article-survey {
  border-radius: 0px 0px 0px 60px;
  margin: 60px 0;
  padding: 40px;
  background: #e8f5ff;

  .article-form__title {
    font-weight: 500;
    line-height: 120%;
    font-size: 30px;
    color: #0078dc;
    margin-bottom: 30px;
  }
  .article-form__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .label-placeholder {
      font-size: 14px;
      margin-bottom: 5px;
      line-height: 100%;
    }
    .article-form__label {
      display: flex;
      flex-direction: column;
      width: calc(50% - 20px);
      margin-bottom: 8px;
      input {
        &._error {
          border-color: red;
        }
        background: #ffffff;
        border: 1px solid #b2d7f5;
        border-radius: 5px;
        height: 48px;
        width: 100%;
        padding: 10px;
        &:focus,
        &:hover {
          outline: none;
        }
      }
      &._textarea {
        margin-bottom: 20px;
        width: 100%;
        textarea {
          &._error {
            border-color: red;
          }
          border-radius: 5px;
          padding: 10px;
          resize: vertical;
          background: #ffffff;
          border: 1px solid #b2d7f5;
          &:focus,
          &:hover {
            outline: none;
          }
        }
      }
    }
  }

  .article-survey__label {
    &:last-of-type {
      overflow: hidden;
      border-radius: 0px 0px 0px 20px;
    }
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    .survey-radio {
      margin: 0;
      cursor: pointer;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      &:checked + .survey-text {
        background: #0078dc;
        color: #fff;
      }
    }
    .survey-text {
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
      padding: 12px 20px;
      background-color: #ffffff;
      .survey-precent {
        display: none;
      }
    }
    .result-progress {
      margin: 9px 0;
      display: none;
      width: 100%;
      height: 5px;
      .result-line {
        background: #0078dc;
        height: 100%;
      }
    }
  }
}

.article-form {
  &.submited {
    .submited-modal__wrapper {
      opacity: 1;
      visibility: visible;
    }
  }
  .submited-modal__wrapper {
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #2a537b;
  }
  .submited-modal {
    position: relative;
    background: #e8f5ff;
    padding: 50px;
    width: fit-content;
    border-radius: 0px 0px 0px 60px;
  }

  .submited-modal__close {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='0.00390625' y='2.12109' width='3' height='31' transform='rotate(-45 0.00390625 2.12109)' fill='%230078DC'/%3e%3crect x='21.9219' width='3' height='31' transform='rotate(45 21.9219 0)' fill='%230078DC'/%3e%3c/svg%3e ");
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    right: 20px;
    top: 20px;
  }
  .submited-modal__title {
    font-weight: 700;
    font-size: 28px;
    color: #0078dc;
    margin-bottom: 20px;
  }
  .submited-modal__descr {
    font-size: 22px;
    font-weight: 400;
    line-height: 160%;
    color: #2a2e3b;
  }
}

.article-survey {
  .article-form__hide-title {
    display: none;
  }
  .survey-text__wrapper {
    width: 100%;
  }
  .submit-btn {
    margin-top: 15px;
  }

  .article-form__title {
    &._hidden {
      display: none;
    }
  }
  &.complited {
    .article-survey__label {
      margin-bottom: 0;
    }
    .submit-btn {
      display: none;
    }
    .article-form__title {
      display: none;
      &._hidden {
        display: block;
      }
    }
    .article-form__hide-title {
      display: block;
      font-weight: 700;
      font-size: 16px;
    }
    .survey-radio {
      display: none;
    }
    .survey-answer {
      display: block;
      flex: 1 0 90%;
    }
    .survey-precent {
      flex: 0 0 10%;
      margin-left: auto;
      text-align: right;
    }
    .survey-text__wrapper {
      display: flex;
      flex-wrap: wrap;
    }
    .survey-text {
      padding-left: 0;
      background-color: transparent !important;
      border-color: transparent !important;
      color: #333333 !important;
      .survey-precent {
        display: block;
        margin-left: auto;
        font-weight: 700;
        font-size: 16px;
      }
    }
    .result-progress {
      display: block;
    }
  }
}

.article-page__graf {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 12%;
    width: 100%;
    background-color: #fff;
  }
}

.article-page__image-block {
  // margin: 60px 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;

  .image-block__img {
    position: relative;
    width: 100%;
    height: 287px;
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .image-block__content {
    border-radius: 0px 0px 0px 60px;
    ul {
      margin: 0;
    }
    width: 100%;
    padding: 36px 40px;
    background: #e8f5ff;
  }

  .image-block__title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 30px;
    font-size: 28px;
    color: #0078dc;
  }
  .image-block__descr {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #2a2e3b;
  }
  .image-block__btn {
    width: fit-content;
  }
  .line-list {
    li {
      padding-left: 35px;
      color: #0078dc;
      font-weight: 500;
      font-size: 22px;
      line-height: 150%;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 15px;
        width: 15px;
        height: 2px;
        background-color: #0078dc;
      }
    }
  }
  &._small {
    margin: 0;
    margin-bottom: 30px;
    flex-direction: column;
    .image-block__content {
      padding: 30px;
    }
    .image-block__img {
      width: 100%;
      height: 287px;
    }
    .image-block__title {
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
    }
  }
}

.large-title-block {
  margin: 60px 0;
  width: 100%;
  padding: 20px;
  background: #e8f5ff;
  &._thin {
    .large-title-block__title {
      margin-top: -45px;
    }
    .large-title-block__title,
    .large-title-block__small {
      font-weight: 300;
    }
  }
}
.large-title-block__title {
  margin-bottom: 12px;
  color: $brand-primary;
  font-weight: 500;
  font-size: 100px;
  line-height: 100%;
}
.large-title-block__small {
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
}
.large-title-block__descr,
.middle-title-block__descr {
  font-size: 14px;
}

.middle-title-block {
  margin: 60px 0;
  padding: 20px 40px;
  background: #e8f5ff;
}

.middle-title-block__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 12px;
  color: $brand-primary;
}

.article-page__toggle-block {
  margin: 60px 0;
  .toggle-block__item {
    &.open {
      .item__head:after {
        transform: translateY(-50%) rotate(45deg);
      }
    }
    border-bottom: 1px solid #c7c7c7;
    &:first-child {
      border-top: 1px solid #c7c7c7;
    }
  }
  .item__head {
    color: #0078dc;
    cursor: pointer;
    position: relative;
    padding: 20px 16px;
    font-weight: 700;
    font-size: 20px;
    padding-right: 35px;
    &:after {
      transition: transform 0.2s ease-in-out;
      content: "";
      width: 18px;
      height: 18px;
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_2307_7182)'%3e%3crect x='8' y='0.0351562' width='2' height='18' fill='%230078DC'/%3e%3crect x='18' y='8.03516' width='2' height='18' transform='rotate(90 18 8.03516)' fill='%230078DC'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_2307_7182'%3e%3crect width='18' height='18' fill='white' transform='translate(0 0.0351562)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  .item__body {
    font-size: 18px;
    line-height: 150%;
    display: none;
    padding: 20px 16px;
    padding-top: 0;
  }
}

.question-answer-block {
  width: 100%;
  background: #e8f5ff;
  margin: 60px 0;
  padding: 35px;
  border-radius: 0px 0px 0px 60px;
}

.question-answer__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  color: #0078dc;
  margin-bottom: 20px;
}
.block-question {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 12px;
}

.question-answer__wrapper {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.files-list {
  margin: 60px 0;
  width: 100%;

  .files-list__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    border-bottom: 1px solid #c7c7c7;
    &:first-child {
      border-top: 1px solid #c7c7c7;
    }
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: #e7f4ff;
    }
  }

  .download-link {
    margin-left: auto;
  }

  .download-ico {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M21 15.3008V19.3008C21 19.8312 20.7893 20.3399 20.4142 20.715C20.0391 21.0901 19.5304 21.3008 19 21.3008H5C4.46957 21.3008 3.96086 21.0901 3.58579 20.715C3.21071 20.3399 3 19.8312 3 19.3008V15.3008' stroke='%230078DC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M7 10.3008L12 15.3008L17 10.3008' stroke='%230078DC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M12 15.3008V3.30078' stroke='%230078DC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .wiew-link {
    width: 100%;
    color: #333333;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .format-ico._pdf {
    flex-shrink: 0;

    margin-right: 20px;
    width: 26px;
    height: 26px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='29' height='27' viewBox='0 0 29 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.9058 16.8802C10.9058 15.1862 9.67384 13.7722 7.61584 13.7722H3.75184V23.7402H5.69784V19.9882H7.61584C9.67384 19.9882 10.9058 18.5742 10.9058 16.8802ZM8.95984 16.8802C8.95984 17.6922 8.39984 18.2382 7.51784 18.2382H5.69784V15.5082H7.51784C8.39984 15.5082 8.95984 16.0682 8.95984 16.8802ZM19.7809 18.7142C19.7809 17.2162 19.8929 15.8442 18.7729 14.7242C18.1149 14.0662 17.1769 13.7722 16.1409 13.7722H12.5429V23.7402H16.1409C17.1769 23.7402 18.1149 23.4462 18.7729 22.7882C19.8929 21.6682 19.7809 20.2122 19.7809 18.7142ZM17.8349 18.7142C17.8349 20.2262 17.7789 20.9402 17.4149 21.3882C17.0789 21.7942 16.6309 22.0042 15.9589 22.0042H14.4889V15.5082H15.9589C16.6309 15.5082 17.0789 15.7182 17.4149 16.1242C17.7789 16.5722 17.8349 17.2022 17.8349 18.7142ZM28.3374 15.5082V13.7722H21.7714V23.7402H23.7174V19.6942H27.6514V17.9582H23.7174V15.5082H28.3374Z' fill='%230078DC'/%3e%3cpath d='M0.647059 24.6234V1.97633C0.647059 1.26161 1.22645 0.682215 1.94118 0.682215H14.2714C14.6187 0.682215 14.9514 0.821766 15.1947 1.0695L15.6563 0.616079L15.1947 1.0695L20.9821 6.96163C21.2198 7.20363 21.3529 7.52927 21.3529 7.86847V24.6234C21.3529 25.3381 20.7735 25.9175 20.0588 25.9175H1.94118C1.22645 25.9175 0.647059 25.3381 0.647059 24.6234Z' stroke='%230078DC' stroke-width='1.29412'/%3e%3cpath d='M14.5586 0.681641V5.53458C14.5586 6.60666 15.4277 7.47576 16.4998 7.47576H21.0292' stroke='%230078DC' stroke-width='1.29412'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.article-page__table-wrapper {
  margin: 60px 0;
  width: 100%;
}

.article-page__table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  thead {
    background: #0078dc;
    color: #fff;
  }
  th {
    padding: 12px 16px;
    text-align: left;
    font-weight: 700;
    font-size: 14px;
  }
  tbody td {
    font-size: 16px;
    border-bottom: 1px solid #c7c7c7;
    padding: 20px 16px;
  }
  tbody tr:nth-child(even) {
    border-bottom: 1px solid #c7c7c7;
    background: #f7fbff;
  }
}
.article-page__table-name {
  padding: 12px 16px;
  font-size: 14px;
}

.article-page__share-block {
  width: 100%;
  padding: 14px 40px;
  background: #0078dc;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 30px;
}

.share-block__links {
  display: flex;
  gap: 8px;
}

.share-block__link {
  width: 91px;
  height: 91px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 55px;
    height: 55px;
    object-fit: contain;
  }
}

.article-page__like-block {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px 40px;
  border-radius: 0px 0px 0px 40px;
  background: #e8f5ff;
  font-weight: 700;
  font-size: 30px;
  color: #0078dc;
  .like-block__title {
    display: block;
    &._hide {
      display: none;
    }
  }
  &.liked {
    justify-content: center;
    .like-block__title {
      display: none;
      &._hide {
        display: block;
      }
    }
    .like-block__ico {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='59' height='60' viewBox='0 0 59 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.5 55.4355V27.9355H4C1.79086 27.9355 0 29.7264 0 31.9355V51.4355C0 53.6447 1.79086 55.4355 4 55.4355H9.5Z' fill='%230078DC'/%3e%3cpath d='M13 50.5289V31.308C13 30.4047 13.204 29.513 13.5967 28.6995L25.6588 3.71375C26.4789 2.01506 28.1987 0.935547 30.085 0.935547C32.7995 0.935547 35 3.13607 35 5.85054V20.1504H52.3895C54.8712 20.1504 57.102 21.6639 58.0192 23.9699C58.6444 25.5416 58.5841 27.3031 57.8529 28.8284L56.5 31.6504C58.024 34.6985 57.6367 38.3545 55.5078 41.0156L55 41.6504C56.4552 44.8519 55.4581 48.6354 52.614 50.7038L52 51.1504C52.2711 55.6431 48.7007 59.4355 44.1998 59.4355H32.75L17.809 56.4095C15.0112 55.8429 13 53.3835 13 50.5289Z' fill='%230078DC'/%3e%3c/svg%3e ");
    }
  }
}
.like-block__ico {
  flex-shrink: 0;
  margin-left: 60px;
  margin-right: 20px;
  width: 45px;
  height: 45px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='61' height='62' viewBox='0 0 61 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.5 56.4355V28.9355H5C2.79086 28.9355 1 30.7264 1 32.9355V52.4355C1 54.6447 2.79086 56.4355 5 56.4355H10.5Z' stroke='%230078DC' stroke-width='2'/%3e%3cpath d='M14 51.5289V32.308C14 31.4047 14.204 30.513 14.5967 29.6995L26.6588 4.71375C27.4789 3.01506 29.1987 1.93555 31.085 1.93555C33.7995 1.93555 36 4.13607 36 6.85054V21.1504H53.3895C55.8712 21.1504 58.102 22.6639 59.0192 24.9699C59.6444 26.5416 59.5841 28.3031 58.8529 29.8284L57.5 32.6504C59.024 35.6985 58.6367 39.3545 56.5078 42.0156L56 42.6504C57.4552 45.8519 56.4581 49.6354 53.614 51.7038L53 52.1504C53.2711 56.6431 49.7007 60.4355 45.1998 60.4355H33.75L18.809 57.4095C16.0112 56.8429 14 54.3835 14 51.5289Z' stroke='%230078DC' stroke-width='2'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.article-page__pagination {
  margin: 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  .pagination__prev,
  .pagination__next {
    font-weight: 500;
    font-size: 30px;
    color: #0078dc;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pagination__prev {
    &:hover {
      &:before {
        transform: translateX(-5px);
      }
    }
    &:before {
      transition: transform 0.2s ease-in-out;
      margin-right: 11px;
      display: block;
      content: "";
      width: 24px;
      height: 24px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='23' viewBox='0 0 26 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.939341 12.7443C0.353554 12.1585 0.353554 11.2087 0.939341 10.6229L10.4853 1.07699C11.0711 0.491205 12.0208 0.491205 12.6066 1.07699C13.1924 1.66278 13.1924 2.61253 12.6066 3.19831L4.12132 11.6836L12.6066 20.1689C13.1924 20.7547 13.1924 21.7044 12.6066 22.2902C12.0208 22.876 11.0711 22.876 10.4853 22.2902L0.939341 12.7443ZM26 13.1836H2V10.1836H26V13.1836Z' fill='%230078DC'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .pagination__next {
    &:hover {
      &::after {
        transform: translateX(5px);
      }
    }
    &:after {
      transition: transform 0.2s ease-in-out;
      margin-left: 11px;
      display: block;
      content: "";
      width: 24px;
      height: 24px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='23' viewBox='0 0 26 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M25.0607 12.7443C25.6464 12.1585 25.6464 11.2087 25.0607 10.6229L15.5147 1.07699C14.9289 0.491205 13.9792 0.491205 13.3934 1.07699C12.8076 1.66278 12.8076 2.61253 13.3934 3.19831L21.8787 11.6836L13.3934 20.1689C12.8076 20.7547 12.8076 21.7044 13.3934 22.2902C13.9792 22.876 14.9289 22.876 15.5147 22.2902L25.0607 12.7443ZM0 13.1836H24V10.1836H0V13.1836Z' fill='%230078DC'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.article-page {
  .tippy-box {
    padding: 12px 22px;
    color: #2a2e3b;
    font-size: 18px;
    background: #e7f4ff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
  }
  .tippy-arrow {
    color: #e7f4ff;
  }
  .tippy-wrapper {
    display: flex;
    align-items: center;
  }
  .close-tippy {
    flex-shrink: 0;
    cursor: pointer;
    margin-left: 20px;
    width: 14px;
    height: 15px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect y='1.7168' width='1.75218' height='18.1058' transform='rotate(-45 0 1.7168)' fill='%230078DC'/%3e%3crect x='12.8047' y='0.478516' width='1.75218' height='18.1058' transform='rotate(45 12.8047 0.478516)' fill='%230078DC'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.read-more-section {
  padding-top: 40px;
  .read-more-section__title {
    margin-bottom: 20px;
    font-size: 30px;
  }
  .list-item__image {
    width: 100%;
    height: 260px;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .list-item__title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  .read-more__list-item {
    width: calc(25% - 40px);
    margin: 20px;
    a {
      color: #333333;
    }
  }
  .list-item__descr {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .read-more__list {
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px;
    display: flex;
  }
  .list-item__likes {
    display: flex;
    align-items: baseline;
    &:before {
      display: block;
      content: "";
      margin-right: 10px;
      width: 14px;
      height: 14px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.0546884 3.59901C0.304688 1.57759 1.97266 0 4 0C5.24219 0 6.26953 0.669771 7 1.5897C7.73047 0.669771 8.75781 0 10 0C12.0312 0 13.6953 1.57759 13.9492 3.60708C13.9805 3.76847 14 3.93793 14 4.1316C14 6.49193 12.2539 8.62228 10.5898 10.2039C8.92188 11.7896 7.25781 12.8346 7.25781 12.8346L7 13L6.74219 12.8346C6.74219 12.8346 5.07813 11.7896 3.41406 10.2039C1.74609 8.62228 0 6.49193 0 4.1316C0 3.93793 0.0195312 3.76443 0.0546884 3.59901ZM6.57031 2.55804C6.04688 1.64618 5.10156 1.0329 4 1.0329C2.46484 1.0329 1.22656 2.21508 1.03906 3.74426V3.76847L1.03125 3.79268C1.01172 3.88547 1 3.99441 1 4.1316C1 5.93917 2.50391 7.94041 4.08594 9.44537C5.48222 10.7716 6.66686 11.5346 6.96604 11.7273C6.97905 11.7357 6.99039 11.743 7 11.7492C7.00957 11.743 7.02085 11.7358 7.03379 11.7274C7.33267 11.5349 8.51734 10.7719 9.91016 9.44537C11.4961 7.94041 13 5.93917 13 4.1316C13 3.99845 12.9883 3.88951 12.9688 3.79268L12.9609 3.75233C12.7773 2.21508 11.5352 1.0329 10 1.0329C8.89844 1.0329 7.95313 1.64618 7.42969 2.55804L7 3.3085L6.57031 2.55804Z' fill='%23666666'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

.footer {
  background: #3376d5;
  padding: 50px 0;
  .footer__wrapper {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .footer__btn {
    cursor: pointer;
    line-height: 100%;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 26px;
    color: #fff;
    padding: 18px 40px;
    font-weight: 700;
    font-size: 16px;
  }
  .footer__to-top {
    cursor: pointer;
    display: block;
    gap: 8px;
  }
  .footer__box {
    font-size: 16px;
    line-height: 100%;
    padding: 13px 7px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
  }
  .footer__text {
    color: #fff;
    a {
      color: #fff;
    }
  }
}

.header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.header__logo {
  width: 200px;
  height: 40px;
  margin-right: 35px;
}

.header-nav {
  display: flex;
  .header-nav__link {
    margin-right: 15px;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 16px;
  }
}

.header__btns {
  background-color: $brand-primary;
  margin-top: -20px;
  margin-bottom: -20px;
  width: 164px;
  margin-left: auto;
  height: 80px;
}

@media (max-width: 1360px) {
  .article-page__image-block._small .image-block__img,
  .article-page__image-block .image-block__img {
    height: 500px;
  }
  .slider-btns {
    max-width: 150px;
    margin: auto;
  }
  .article-audio .article-audio__content {
    max-width: inherit;
  }
  .article-page__fixed-col .article-page__right-content {
    position: static;
    max-width: inherit;
    transform: translate(0);
    width: 100%;
  }
  .article-page__narrow-col {
    max-width: inherit;
  }
  .article-page__slider-wrapper .slider-btns {
    justify-content: space-between;
  }
  .article-page__date-block {
    width: 100%;
  }
  .article-page__quote,
  .article-page__person {
    margin-right: 0;
  }
}

@media (max-width: 1320px) {
  .read-more-section .read-more__list-item {
    width: calc(50% - 40px);
  }
}

@media (max-width: 1024px) {
  .article-page__slider-wrapper .article-page__slide,
  .article-page__image-block._small .image-block__img,
  .article-page__image-block .image-block__img {
    height: 50vw;
  }
  .article-page__title {
    font-size: 36px;
  }

  .article-page__quote {
    display: block;
  }

  .article-page__quote:before {
    border-radius: 20px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: 50px;
  }
}

@media (max-width: 992px) {
  .article-page__person {
    flex-direction: column;
  }
  .article-page__person .person__data {
    order: 4;
    margin-right: 0;
    margin-top: 20px;
    width: 100%;
    min-height: inherit;
  }

  .article-page__pagination .pagination__prev,
  .article-page__pagination .pagination__next,
  .article-page__like-block {
    font-size: 24px;
  }

  .footer .footer__wrapper {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: flex-start;
  }
}

@media (max-width: 800px) {
  .article-page__image-block {
    flex-direction: column;
  }
  .article-page__image-block .image-block__img,
  .article-page__image-block._small .image-block__img {
    height: 450px;
    width: 100%;
  }
  .article-page__table {
    width: 800px;
  }
  .article-page__table-wrapper {
    overflow: auto;
  }
}

@media (max-width: 768px) {
  .read-more-section .read-more__list-item {
    width: 100%;
  }
  .article-page__share-block {
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
  }

  .article-page__head {
    margin-right: -20px;
    margin-left: -20px;
  }
  .article-page__title {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 120%;
  }
  .article-page__date {
    font-size: 16px;
  }
  .primary__title {
    margin-bottom: 30px;
  }
  .article-page__content {
    padding-top: 80px;
  }
  .article-page__image-wrapper {
    padding-top: 70%;
  }
  .article-page__text-image-block {
    margin: 30px 0;
    flex-direction: column;
  }
  .article-page__text-image-block .text-image__image {
    width: 100%;
  }
  .article-page__text-image-block .text-image__image__wrapper {
    margin-right: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  .large-title-block,
  .article-page ul:not([class]),
  .article-page ol:not([class]),
  .article-page__image-block,
  .article-form,
  .article-survey,
  .article-page__model-wraper,
  .article-page__slider-item,
  .article-page__table-wrapper,
  .files-list,
  .article-page__pagination,
  .middle-title-block,
  .article-page__toggle-block,
  .question-answer-block,
  .article-page__quote,
  .article-page__person {
    margin: 30px 0;
  }
}

@media (max-width: 680px) {
  .article-page__pagination {
    flex-direction: column;
  }

  .article-page__image-block .image-block__content,
  .article-page__image-block._small .image-block__content,
  .article-form,
  .article-survey,
  .middle-title-block {
    padding: 20px;
  }
  .article-page__image-block .image-block__descr {
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .article-page .tippy-box {
    padding: 12px;
  }
  .site-pagination__wrapper {
    .site-pagination {
      width: 100%;
    }
    .container {
      padding: 0;
    }
  }
  .article-page__image-block .image-block__title {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .article-page__slider-wrapper .slider-btns {
    padding-top: 15px;
  }
  .article-page__slider-descr {
    bottom: 39px;
  }
  .article-page__slider-wrapper {
    padding-bottom: 0;
  }
  .article-page__date-block .date-block__title {
    font-size: 70px;
    line-height: 120%;
    margin-bottom: 15px;
  }
  .article-page__date-block {
    padding: 20px;
    border-radius: 0px 0px 0px 40px;
  }
  .article-page__person .person__data,
  .question-answer-block,
  .article-form .submited-modal {
    border-radius: 0px 0px 0px 40px;
    padding: 20px 30px;
  }
  .article-form .submited-modal__descr {
    font-size: 18px;
    line-height: 120%;
  }
  .article-form .submited-modal__close {
    right: 10px;
    top: 10px;
  }
  .article-form .submited-modal__wrapper {
    padding: 5px;
  }

  .article-page__head {
    padding: 20px 30px;
  }
  .article-page__head-wrapper {
    bottom: -80px;
  }
  .article-page__content {
    padding-top: 100px;
  }

  .article-page__image-block .image-block__content,
  .article-page__slider-wrapper .article-page__slide,
  .article-page__head {
    border-radius: 0px 0px 0px 40px;
  }
  .article-audio {
    border-radius: 0px 0px 0px 20px;
  }
  .article-page p {
    font-size: 18px;
  }
  .article-page__quote,
  .article-page__person .person__text {
    font-size: 18px;
  }
  .article-form .article-survey__label .survey-text,
  .article-survey .article-survey__label .survey-text {
    padding: 12px;
  }
  .read-more-section .read-more__list,
  .read-more-section .read-more__list-item {
    margin-right: 0;
    margin-left: 0;
  }
  .article-page__slider-wrapper .article-page__slide.video-slide:before {
    width: 60px;
    height: 60px;
    background-size: 18px;
    background-position: 23px center;
  }
  .article-form .article-form__title,
  .article-survey .article-form__title {
    font-size: 26px;
  }
  .article-survey.complited .survey-text {
    padding-right: 0;
    padding-left: 0;
  }
  .large-title-block__title {
    font-size: 80px;
  }
  .large-title-block__small,
  .middle-title-block__title {
    font-size: 40px;
  }
  .article-page__like-block {
    padding: 30px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .like-block__ico {
      margin: 0;
      margin-top: 20px;
    }
  }
  .article-page__slider-wrapper .article-page__slide {
    height: 55vw;
  }

  .article-form__content {
    flex-direction: column;
  }
  .article-form .article-form__content .article-form__label,
  .article-survey .article-form__content .article-form__label {
    width: 100%;
  }
  .article-audio {
    padding: 15px 10px;
  }

  .article-page__image-wrapper {
    padding-top: 80vw;
  }
  .primary__title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .article-audio .play-container {
    margin-right: 15px;
  }

  .article-page__image-block .line-list li {
    padding-left: 25px;
    font-size: 18px;
  }
  .article-page__image-block .image-block__img,
  .article-page__image-block._small .image-block__img {
    height: 50vw;
  }
  .files-list .files-list__item {
    padding: 20px 10px;
  }
}

@media (max-width: 380px) {
  .article-page__head {
    margin-right: -10px;
    margin-left: -10px;
  }
}
